<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BookingUni</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    {{#if error}}
    <div>
        <!-- <div class="notification loadingBox">
                Loading …
            </div>
            <div class="notification infoBox">
                <span>Info</span>
            </div> -->
        <div class="notification errorBox">
            <span>{{error.message}}</span>
        </div>
    </div>
    {{/if}}
    
    {{> header}}
    <div id="container">
        {{{body}}}
    </div>
    {{> footer}}
</body>

</html>